# Godot 4
.godot/

# Godot 3/importaciones antiguas
.import/

# Exportaciones y builds
.export/
builds/
exports/
*.exe
*.apk
*.aab
*.pck
*.zip

# C# / .NET
bin/
obj/
.mono/
*.user
*.suo

# Visual Studio / VS Code
.vs/

# Puedes subir .vscode si quieres compartir configuración,
# pero normalmente se ignora:
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log